* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 html{
 
   scroll-behavior: smooth;
}

 nav {
   max-width: 900px;
  margin: auto;
  background-color:  #dbe2ef;
  font-size: 20px;
  margin-top: 50px; 
   padding-left: 5vw;
   
}
.contenedor-header{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 99;
}


.cont-ul {
   display: flex;
   align-items: center;
   
}

li {
   list-style: none;
   cursor: pointer;
   padding: 1.5vw;
   transition:  all .3s ease 0s;
}

li:hover {
   background-color: whitesmoke;
}

.develop {
   position: relative;
}

.ul-second {
   display: none;
   position: absolute;
   margin-top: 1.5vw;
}

.ul-second > li {
   width: 190px;
   transform: translateX(-20px);
   border-bottom:solid 1px #fff ;
   text-align: center;
   background-color:#dbe2ef;
}

.ul-second > li:hover {
   background-color:  whitesmoke;
}

.develop:hover > .ul-second {
   display: block;
}

.ul-third {
   position: absolute;
   transform: translateX(100%);
   right: 0;
   top: 40%;
   display: none;
   background-color: #dbe2ef;;
}

.ul-third > li {
   padding: 1.5vw;
   border-bottom: solid 1px #fff;
}
ul li a {
   text-decoration: none;
   color: black;
      width: 30px;
   height: 10px;
   line-height: 30px !important;
    transition: all .3s ease-in-out;
 }
.front:hover > .ul-third {
   display: block;
}

.container{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 120vh;
   padding: 0 20px;
   font-family: 'nunito', sans-serif;
   background-color:white;
}

.card-container {
   display: flex;
   width: 1000px;
   height: auto;
   background:  #dbe2ef;
   border-radius: 3px;
   box-shadow: 1px 1px 4px 2px  rgba(0, 0, 0, .2);
}
.header{
   border-right: 1px solid #ddd;
}

.descripcion{
   background: #fbfbfb;
}

.header,.descripcion{
   padding: 300px;
   text-align: center;
}

.header a{
   position: relative;
   display:block ;
}
.header img{
   border-radius: 50%;
   box-shadow: 0 0 0 5px  rgba(0,0,0,.06);
   margin: 5px 10px;
   transition: .2s; 
}
.header a:hover img{
   box-shadow: 0 0 0 12px  rgba(0,0,0,.1);
}

.header h2{
   float: right;
   width: 50%;
     color: black;
     margin: 10px 50px;
   
}

.header h4{
   margin-bottom: 100px; 
    
}
.descripcion p{
margin: 100px 100px;
}

 

 @media (max-width:640px){
    .card-container{
        display: block;
       width: 450px;
    }
 }

 .header{
    padding: 30px 40px 80px 30px;
    border: none;
 }

 .descripcion{
    padding: 30px 40px 30px 100px;
  
 }

 .header h4{
    margin: 0px;
 }



.curriculum{
   background-color: whitesmoke;
   color: black;
   text-align: center;
   padding: 50px 20px;
}
.curriculum .contenido-seccion{
   max-width: 1100px;
   margin: auto;
}
.curriculum h2{
   font-size: 48px;
   font-family: 'Righteous';
   text-align: center;
   padding: 20px 0;

}
.curriculum .fila{
   display: flex;
   justify-content: space-between;
}
.curriculum .fila .col{
   width: 49%;
   padding: 0 20px;
}
.curriculum .fila .col h3{
   font-size: 28px;
   font-family: 'Righteous';
   margin-bottom: 25px;
}
.curriculum .fila .izquierda{
   border-right: 2px solid white;
}
.curriculum .fila .derecha{
   border-left: 2px solid white;
}
.curriculum .fila .item{
   padding: 25px;
   margin-bottom: 30px;
   background-color: #dbe2ef;
   position: relative;
}
.curriculum .fila .item h4{
   font-size: 20px;
   margin-bottom: 10px;
}
.curriculum .fila .item .casa{
   color: rgb(107, 37, 90);
   font-size: 22px;
   font-weight: bold;
   display: block;
}
.curriculum .fila .item .fecha{
   display: block;
   color: rgb(107, 37, 90);
   margin-bottom: 10px;
}
.curriculum .fila .item p{
   line-height: 24px;
}
.curriculum .fila .izq{
   border-right: 2px solid rgb(107, 37, 90);
   margin-right: 20px;
}
.curriculum .fila .der{
   border-left: 2px solid rgb(107, 37, 90);
   margin-left: 20px;
}
.curriculum .fila .item .conectori{
   height: 2px;
   background-color: rgb(107, 37, 90);
   width: 47px;
   position: absolute;
   top: 50%;
   right: -47px;
   z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
   display: block;
   height: 10px;
   width: 10px;
   border-radius: 50%;
   background-color: rgb(107, 37, 90);
   float: right;
   position: relative;
   bottom: 4px;
}
.curriculum .fila .item .conectord{
   height: 2px;
   background-color: rgb(107, 37, 90);
   width: 47px;
   position: absolute;
   top: 50%;
   left: -47px;
   z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
   display: block;
   height: 10px;
   width: 10px;
   border-radius: 50%;
   background-color: rgb(107, 37, 90);
   float: left;
   position: relative;
   bottom: 4px;
}


